{% extends 'base.html.twig' %}

{% block title %}Need{% endblock %}

{% block body %}

    <div class="card ">
        <div class="card-header">
            <h2 class="text-center text-primary m-3">Detail</h2>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <h5>id</h5>
                </div>
                <div class="col-10">
                    <p>{{ need.id }}</p>
                </div>

                <div class="col-2">
                    <h5>Name</h5>
                </div>
                <div class="col-10">
                    <p>{{ need.name }}</p>
                </div>

                <div class="col-2">
                    <h5>Students</h5>
                </div>
                <div class="col-10">
                        {% for student in need.students %}
                            <p>{{ student.email }}</p>
                        {% else %}
                            <span>No Students</span>
                        {% endfor %}
                </div>
                <div class="col-2">
                    <h5>Organisms</h5>
                </div>
                <div class="col-10">
                     <span>No Organisms</span>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-success m-1" href="{{ path('app_need_edit', {'id': need.id}) }}">edit</a>
            {{ include('need/_delete_form.html.twig') }}
        </div>

    </div>

    <a type="button" class="btn btn-outline-dark m-3" href="{{ path('app_need_index') }}">back to list</a>
{% endblock %}
